{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="div">
    <div class="div1">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            
            <label for="password">Senha:</label>
            <input type="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}
