body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: #333;
    color: #fff;
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
p{
    text-align: center;
}

.div {
    width: center;
    height: 72vh;
    border-radius: 5px;
    background: #B2B2B2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.div1 {
    border-radius: 5px;
    width: 300px;
    height: 300px;
    background: #ffffff;
    margin: 0;
    padding: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
    border-radius: 5px;
    border: solid 1px;
    color: rgb(131, 129, 129);
    padding: 6px 40px;
    margin: 3px; 
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
button {
    width: center;
    background-color: blue; 
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px 30px;
    width: 50%;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}
button:hover {
    width: center;
    background-color: blue; 
    border-radius: 5px none ;
    border: none;
    color: white;
    padding: 6px 30px;
    width: 50%;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
form label{
    margin-right: 12rem;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
